<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Digital Library</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>

  <!-- Flash Message Display Block -->
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="flashes {{ category }}">
        <p>{{ message }}</p>
      </div>
    {% endfor %}
  {% endif %}
  {% endwith %}

    <h1>📚 My Digital Library 📚</h1>
    <h5>By Emilio Quezada</h5>

    <!-- Search Form -->
    <div id="search-form">
      <form action="{{ url_for('home') }}" method="GET">
        <input type="text" placeholder="Search book title..." name="search_term">
        <input type="submit" value="Search">
      </form>
    </div>

    <!-- Sorting Controls -->
    <div class="sort-controls">
        <span>Sort by:</span>
        <a href="{{ url_for('home', sort_by='title') }}" class="sort-link">Title</a>
        <a href="{{ url_for('home', sort_by='author') }}" class="sort-link">Author Name</a>
    </div>

    <!-- Book Display Loop -->
    {% for book in books %}
    <!-- Using .book-entry class to activate Flexbox alignment in CSS -->
    <div class="book-entry">

        <!-- Content wrapped for Flexbox -->
        <div class="book-details">
            <h3> Book: {{ book.title }} Author: {{ book.author.name }}</h3>
            <p> ISBN: {{ book.isbn }} Publication Year: {{ book.publication_year }}</p>
        </div>

        <!-- DELETE BUTTON FORM -->
        <form method="POST" action="{{ url_for('delete_book', book_id=book.id) }}"
              class="delete-form">
            <button type="submit" class="delete-button">
                Delete
            </button>
        </form>
    </div>
    {% endfor %}

  </body>
</html>